<div class="my-2">
    <div>
        <img class="img-thumbnail" src="{{userObj.image}}" style="width:300px;height:300px;">
    </div>
    <li>Product Name: {{userObj.name}}</li>
    <li>Product ID: {{userObj.id}}</li>
    <li>Gender: {{userObj.gender}}</li>
    <li>Email: {{userObj.email}}</li>
    <li>Mobile: {{userObj.mobile}}</li>
    <li>Country: {{userObj.country}}</li>
    <li>State: {{userObj.state}}</li>
    <li>City: {{userObj.city}}</li>
    <li>Zipcode: {{userObj.zipcode}}</li> 
    <li>Password: {{userObj.password}}</li>    
</div>
